<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectDAreaName">
		SELECT DAREA_NAME
	   	FROM "Detailed Area"
  		WHERE "DAREA_CODE" = ?
	</entry>
	
	<entry key="selectFilePath">
		SELECT FILE_PATH, ORIGIN_NAME
		FROM "Image"
        JOIN "Detailed Area" USING(DAREA_CODE)
		WHERE "DAREA_CODE" = ?
        AND FILE_PATH = 'resources/detailedArea_Img/'
	</entry>
	
	<entry key="selectPlayPath">
		SELECT FILE_PATH, ORIGIN_NAME
		FROM "Image" 
		WHERE  DAREA_CODE = ? AND CATEGORY_CODE='PP'
	</entry>
	
	<entry key="selectHotelPath">
		SELECT FILE_PATH, ORIGIN_NAME
		FROM "Image" 
		WHERE  DAREA_CODE = ? AND CATEGORY_CODE='HH'
	</entry>
	
	<entry key="selectFoodPath">
		SELECT FILE_PATH, ORIGIN_NAME
		FROM "Image" 
		WHERE  DAREA_CODE = ? AND CATEGORY_CODE='FF'
	</entry>
</properties>