<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="loginMember">
		SELECT * 
		FROM "Member"
		WHERE MEM_ID = ?
	      AND MEM_PWD = ?
	      AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
      INSERT INTO "Member"(MEM_NO,
                     MEM_ID,
                     MEM_PWD,
                     MEM_NAME,
                     MEM_GENDER,
                     MEM_PHONE,
                     MEM_BIRTH)
               VALUES(SEQ_MEM.NEXTVAL,
                     ?,
                     ?,
                     ?,
                     ?,
                     ?,
                     ?)      
   </entry>
   
   <entry key="idCheck">
   	SELECT COUNT(*)
   	FROM "Member"
   	WHERE MEM_ID = ?
   </entry>
   
   <entry key="findId">
   SELECT MEM_ID
   FROM "Member"
   WHERE MEM_NAME = ? AND MEM_PHONE= ?
   </entry>

   <!--    관리자 멤버관리-->
    <entry key="memberList">
        SELECT *
        FROM "Member"
    </entry>

    <entry key="memberByNo">

        select * from "Member" where MEM_NO = ?
    </entry>
    <!--    관리자 멤버관리-->


    <entry key="findPwd">
   SELECT MEM_PWD
   FROM "Member"
   WHERE MEM_NAME = ? AND MEM_ID = ? AND MEM_PHONE = ? 
   </entry>
   
   <entry key="placePaging">
   SELECT *
	FROM (
		SELECT ROWNUM RNUM, A.*
		FROM (
			SELECT PLC_CODE, PLC_NAME, PLC_DATE, CATEGORY_CODE
			FROM "Place"
			WHERE CATEGORY_CODE = ? AND STATUS = 'Y'
			ORDER BY PLC_DATE DESC
			) A
		)
	WHERE RNUM BETWEEN ? AND ?
   </entry>
   
   
   <entry key="getPlaceListTotal">
    SELECT COUNT(*) as total FROM "Place"
   </entry>
   
   <entry key="detailPlace">
    SELECT c.CATEGORY_NAME, p.PLC_NAME, l.LOCAL_NAME, d.DAREA_NAME, p.PLC_BNAME, p.PLC_ADDRESS, p.PLC_PNUMBER, p.PLC_LA, p.PLC_LO, p.PLC_TEXT, CATEGORY_CODE
   FROM "Place" p
   JOIN "Category" c USING(CATEGORY_CODE)
   JOIN "Location" l USING(LOCAL_CODE)
   JOIN "Detailed Area" d USING(DAREA_CODE) 
   WHERE PLC_NAME = ?
   </entry>
   
   <entry key="deletePlace">
   UPDATE "Place"
   SET STATUS = 'N'
   WHERE PLC_NAME = ?
   </entry>
   
   <entry key="deletePlaceImg">
   UPDATE "Image"
   SET STATUS = 'N'
   WHERE PLC_CODE IN (SELECT PLC_CODE
   					 FROM "Place"
   					 WHERE PLC_NAME= ? )
   </entry>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
<!--     메인 관리 목록 조회 쿼리 -->
<!-- 	<entry key="selectPlayList"> -->
<!-- 	SELECT * -->
<!-- 	FROM ( -->
<!-- 		SELECT ROWNUM RNUM, A.* -->
<!-- 		FROM ( -->
<!-- 			SELECT PLC_CODE, PLC_NAME, PLC_DATE -->
<!-- 			FROM "Place" -->
<!-- 			WHERE CATEGORY_CODE = 'PP' -->
<!-- 			  AND STATUS = 'N' -->
<!-- 			ORDER BY PLC_DATE DESC -->
<!-- 			) A -->
<!-- 		) -->
<!-- 	WHERE RNUM BETWEEN ? AND ? -->
<!-- 	</entry> -->
	
<!-- 	 메인 관리 목록 조회 쿼리  -->
<!-- 	<entry key="selectFoodList"> -->
<!-- 	SELECT * -->
<!-- 	FROM ( -->
<!-- 		SELECT ROWNUM RNUM, A.* -->
<!-- 		FROM ( -->
<!-- 			SELECT PLC_CODE, PLC_NAME, PLC_DATE -->
<!-- 			FROM "Place" -->
<!-- 			WHERE CATEGORY_CODE = 'FF' -->
<!-- 			  AND STATUS = 'N' -->
<!-- 			ORDER BY PLC_DATE DESC -->
<!-- 			) A -->
<!-- 		) -->
<!-- 	WHERE RNUM BETWEEN ? AND ? -->
<!-- 	</entry> -->
	
<!-- 	메인 관리 목록 조회 쿼리  -->
<!-- 	<entry key="selectHotelList"> -->
<!-- 	SELECT * -->
<!-- 	FROM ( -->
<!-- 		SELECT ROWNUM RNUM, A.* -->
<!-- 		FROM ( -->
<!-- 			SELECT PLC_CODE, PLC_NAME, PLC_DATE -->
<!-- 			FROM "Place" -->
<!-- 			WHERE CATEGORY_CODE = 'HH' -->
<!-- 			  AND STATUS = 'N' -->
<!-- 			ORDER BY PLC_DATE DESC -->
<!-- 			) A -->
<!-- 		) -->
<!-- 	WHERE RNUM BETWEEN ? AND ? -->
<!-- 	</entry> -->
   
<!--    <entry key = "selectListPlayCount"> -->
<!-- 		SELECT COUNT(*) COUNT -->
<!-- 		FROM "Place" -->
<!-- 		WHERE STATUS = 'N' -->
<!-- 		AND CATEGORY_CODE = 'PP' -->
<!-- 	</entry> -->
	
<!-- 	<entry key = "selectListFoodCount"> -->
<!-- 	SELECT COUNT(*) COUNT -->
<!-- 		FROM "Place" -->
<!-- 		WHERE STATUS = 'N' -->
<!-- 		AND CATEGORY_CODE = 'FF' -->
<!-- 	</entry> -->
	
<!-- 	<entry key = "selectListHotelCount"> -->
<!-- 	SELECT COUNT(*) COUNT -->
<!-- 		FROM "Place" -->
<!-- 		WHERE STATUS = 'N' -->
<!-- 		AND CATEGORY_CODE = 'HH' -->
<!-- 	</entry> -->
	
	
</properties>
