@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html,
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-overflow-scrolling: touch !important;
    touch-action: manipulation;
    margin:0;
}
div{
    box-sizing: border-box;
}
nav{
    position:fixed;
}
.nav_b{
    font-size: 30px;
    padding-left: 40px;
    color:rgb(155, 205, 138);
}
.nav_h{
    font-size:small;
}
.nav_brand{
    margin-left: 50px;
}
.center-hash{
    text-align: center;
    color:rgb(24, 207, 155);
    font-weight: 900;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.container-div{
    text-align: center;
    border: 1px solid black;
    width:50%;
    /* height:1200px; */
    margin:auto;
    margin-left:30%;
    margin-top:-90px;
    padding:20px;
    margin-bottom:40px;
}


.img-container {
    display: flex;
    height: 10%;
    flex-direction: column;
    width:290px;
    float:left;
}
.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

label {
    cursor: pointer;
    font-size: 1em;
    z-index: 33;
}

#chooseFile1, #chooseFile2, #chooseFile3 {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
}
.place-image {
    width:300px;
    display:flex;
}
.place-image img{
    width:220px;
}
.img2{
    margin-left:38%;
}
.img3{
    margin-left: 35%;
}