@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html,
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-overflow-scrolling: touch !important;
    touch-action: manipulation;
    margin:0;
}
div{
    box-sizing: border-box;
}
nav{
    position:fixed;
}
.nav_b{
    font-size: 30px;
    padding-left: 40px;
    color:rgb(155, 205, 138);
}
.nav_h{
    font-size:small;
}
.nav_brand{
    margin-left: 50px;
}
.center-hash{
    text-align: center;
    color:rgb(24, 207, 155);
    font-weight: 900;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.main-container{
    width: 65%;
    margin-left:20%;
    text-align: center;
}
.main-container h2{
    font-weight: 900;
    font-size:35px;
}
.main-table{
    width:80%;
    margin:auto;
    margin:-50%;
}
.btn-memberList{
    border:none;
    background-color:rgb(129, 203, 72);
    border-radius: 10px;
    font-size:20px;
    font-weight: 600;
    padding:10px;
    width:150px;
    color:white;
}
input{
    border:none;
    border-bottom:1px solid rgb(190, 190, 190);
}
input[name=gender]{
    width:20px;
}
input[name=phone]{
    width:115px;
}
input[name=userName]{
    width:50px;
}
input[name=birth]{
    width:90px;
}
input[name=userId]{
    width:80px;
}
.modal-body span {
    font-weight: bold;
    font-size:16px;
}
button{
    background-color: white;
}