@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html,
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-overflow-scrolling: touch !important;
    touch-action: manipulation;
    margin:0;
}
div{
    box-sizing: border-box;
}
nav{
    position:fixed;
}
.nav_b{
    font-size: 30px;
    padding-left: 40px;
    color:rgb(155, 205, 138);
}
.nav_h{
    font-size:small;
}
.nav_brand{
    margin-left: 50px;
}
.center-hash{
    text-align: center;
    color:rgb(24, 207, 155);
    font-weight: 900;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.centerDiv table{
    width:100%;
}
input{
    border-bottom: 1px solid #adadad;
    margin: 10px;
    padding: 10px 0px;
    outline:none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
table{
    margin-left:19%;
}
td{
    width:90px;
}
.container2{
    width:85%;
}
.show {
    display : block;
}
.black-bg {
    width : 500px;
    height : 200px;
    position : fixed;
    margin-top:-450px;
    margin-left:50px;
    background : rgba(217, 215, 215, 0.5);
    z-index : 6;
    padding: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
} 
.show-modal{
    /* display: block; */
    visibility: visible;
    opacity: 1;
}