<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertHash">
	INSERT INTO "Hash" (HAS_NO, HAS_NAME) VALUES(SEQ_HAS.NEXTVAL, ?)
	</entry>
	
	<entry key="insertHashStorage">
	INSERT INTO "HashStorage" (PLC_CODE, HAS_NO) VALUES(?, SEQ_HAS.CURRVAL)
	</entry>


   
</properties>