<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertHash">
	INSERT INTO "Hash" (HAS_NO, HAS_NAME) VALUES(SEQ_HAS.NEXTVAL, ?)
	</entry>
	
	<entry key="insertHashStorage">
	INSERT INTO "HashStorage" (PLC_CODE, HAS_NO) VALUES(?, SEQ_HAS.CURRVAL)
	</entry>
	<entry key="selectHashTag">
	SELECT * FROM (SELECT DISTINCT HAS_NAME FROM "Hash") <![CDATA[WHERE ROWNUM <= 9]]>
	</entry>

   	<entry key="selectHashTagPlace">
   	SELECT HAS_NAME
	FROM "Hash"
	JOIN "HashStorage" h USING(HAS_NO)
	WHERE h.PLC_CODE = (SELECT PLC_CODE
	                    FROM "Place"
	                    WHERE PLC_NAME = ?)
   	</entry>
</properties>