<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
  

<div class="tr_hashTag_area">
    <p><strong>해시태그 구현</strong></p>
           <div class="form-group">
                <input type="hidden" value="" name="tag" id="rdTag" />
            </div>
        
             <ul id="tag-list"></ul>
                        
            <div class="form-group">
            	<input type="text" id="tag" size="7" placeholder="엔터로 해시태그를 등록해주세요." style="width: 300px;"/>
           </div>
</div>


<script>
  $(document).ready(function () {
      var tag = {};
      var counter = 0;

      // 입력한 값을 태그로 생성한다.
      function addTag (value) {
          tag[counter] = value;
          counter++; // del-btn 의 고유 id 가 된다.
      }

      // tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
      function marginTag () {
          return Object.values(tag).filter(function (word) {
              return word !== "";
          });
      }
  
      // 서버에 제공
      $("#tag-form").on("submit", function (e) {
          var value = marginTag(); // return array
          $("#rdTag").val(value); 

          $(this).submit();
      });

      $("#tag").on("keypress", function (e) {
          var self = $(this);

          //엔터나 스페이스바 눌렀을때 실행
          if (e.key === "Enter" || e.keyCode == 32) {

              var tagValue = self.val(); // 값 가져오기

              // 해시태그 값 없으면 실행X
              if (tagValue !== "") {

                  // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
                  var result = Object.values(tag).filter(function (word) {
                      return word === tagValue;
                  })
              
                  // 해시태그가 중복되었는지 확인
                  if (result.length == 0) { 
                      $("#tag-list").append("<li class='tag-item'>"+tagValue+"<span class='del-btn' idx='"+counter+"'>x</span></li>");
                      addTag(tagValue);
                      self.val("");
                  } else {
                      alert("태그값이 중복됩니다.");
                  }
              }
              e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
          }
      });

      // 삭제 버튼 
      // 인덱스 검사 후 삭제
      $(document).on("click", ".del-btn", function (e) {
          var index = $(this).attr("idx");
          tag[index] = "";
          $(this).parent().remove();
      });
})
</script>
</body>
</html>